p {color:green;
font-size: 27px;
    text-align: center;
    font-weight: bold;
    line-height: 50px;
}

h1 {
  font-size: 38px;
  font-family: "Monaco", "Courier", monospace;
  color: #618ad2;
      text-decoration: overline;
    
}
body {font-family: Arial;
    color: black
        
}
    
h2, h3 {color: orange;
  
    	border-width: 3px; /* толщина 3px */
	border-style: dotted; /* в виде точек */
	border-color: red;  /* красный цвет */
	width: 300px;
	height: 100px;
}    
.ramka {
	color: magenta;
    
}
div {
	width: 900px;
	height: 100px;
	border-left: 1px solid red;
    
}
a:hover{color: red}